# Basic stats on the evolution of COVID-19 hospitalizations in departments

In [1]:
%load_ext lab_black
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
from datetime import timedelta, date
import pandas as pd
import warnings

warnings.filterwarnings("ignore")
pd.plotting.register_matplotlib_converters()

In [3]:
covid_url = (
    "https://www.data.gouv.fr/fr/datasets/r/63352e38-d353-4b54-bfd1-f1b3ee1cabd7"
)
filter_dep = ["971", "972", "973", "974", "976"]  # only metropolitan France
figsize = (15, 10)

#### <br> Load table with COVID-19 data (figures by dates)

In [4]:
df = pd.read_csv(covid_url, sep=";", parse_dates=True, index_col=2)
df = df.query("sexe == 0")  # sum male/female
df.drop(columns=["sexe"], inplace=True)
df.query("dep not in @filter_dep", inplace=True)
df.sort_index(inplace=True)
df.head(2)

           dep  hosp  rea  rad  dc
jour
2020-03-18  01     2    0    1   0
2020-03-18  02    41   10   18  11

In [5]:
last_day = df.index.max()
previous_day = last_day - timedelta(days=1)
print("Evolution from ", previous_day, " to ", last_day)

Evolution from  2020-03-28 00:00:00  to  2020-03-29 00:00:00

#### <br> Build a new dataframe with data from two latest days and the associated evolution

In [6]:
sdf = df.loc[last_day]
sdf.reset_index(inplace=True)
pdf = df.loc[previous_day]
pdf.reset_index(inplace=True)
frame = {"dep": sdf["dep"], "prev_hosp": pdf["hosp"], "last_hosp": sdf["hosp"]}
stats = pd.DataFrame(frame)
stats["diff"] = stats["last_hosp"] - stats["prev_hosp"]
stats["percent"] = stats["diff"] / stats["prev_hosp"] * 100
stats.head()

  dep  prev_hosp  last_hosp  diff    percent
0  01         53         55     2   3.773585
1  02        134        136     2   1.492537
2  03         22         23     1   4.545455
3  04         12         12     0   0.000000
4  05         32         39     7  21.875000

#### <br> Departments with highest number of hospitalizations on the latest day

In [7]:
stats.sort_values(by="last_hosp", ascending=False).head()

   dep  prev_hosp  last_hosp  diff    percent
75  75       1927       2115   188   9.756098
92  92       1103       1169    66   5.983681
68  68        954        999    45   4.716981
94  94        871        961    90  10.332951
69  69        860        907    47   5.465116

#### <br> Min, max, mean of evolution between the two latest days (in sum and %)

In [8]:
print(
    "Min: ",
    stats["diff"].min(),
    " Mean: ",
    stats["diff"].mean(),
    " Max: ",
    stats["diff"].max(),
)

Min:  -10  Mean:  17.59375  Max:  188

In [9]:
print(
    "Min %: ",
    stats.percent.min(),
    " Mean %: ",
    stats.percent.mean(),
    " Max %: ",
    stats.percent.max(),
)

Min %:  -9.900990099009901  Mean %:  12.557499879987427  Max %:  66.66666666666666

#### <br> List of departments with a drecrease of hospitalizations (last two days)

In [10]:
stats.query("diff < 0")

   dep  prev_hosp  last_hosp  diff   percent
28  2A        101         91   -10 -9.900990
36  36         41         40    -1 -2.439024

#### <br> Departments with highest evolution of hospitalizations (total number)

In [11]:
stats.sort_values(by="diff", ascending=False).head()

   dep  prev_hosp  last_hosp  diff    percent
75  75       1927       2115   188   9.756098
12  13        601        705   104  17.304493
94  94        871        961    90  10.332951
93  93        677        758    81  11.964549
92  92       1103       1169    66   5.983681

#### <br> Departments with highest rate of hospitalizations (%)

In [12]:
stats.sort_values(by="percent", ascending=False).head()

   dep  prev_hosp  last_hosp  diff    percent
46  46          3          5     2  66.666667
23  25         91        148    57  62.637363
63  63         35         51    16  45.714286
45  45         83        115    32  38.554217
79  79         17         23     6  35.294118

#### <br> Focus on some departments

In [13]:
stats.query("dep=='75'")

   dep  prev_hosp  last_hosp  diff   percent
75  75       1927       2115   188  9.756098

In [14]:
stats.query("dep=='71'")

   dep  prev_hosp  last_hosp  diff   percent
71  71        182        184     2  1.098901

In [15]:
stats.query("dep=='31'")

   dep  prev_hosp  last_hosp  diff    percent
31  31        163        185    22  13.496933